.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: #191818;
}


.navbar{
    font-size: 1.20rem;
    text-decoration: none;
    font-weight: 500;
    gap: 35px;
}

.iconNavBar{
    padding: 1.3rem;
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

.texto-navbar{
    color: white;
}

@media screen and (max-width: 1473px) {
    .navbar{
        font-size: 1.1rem;

    }
  }

@media(max-width: 1325px){
    .navbar{
        font-size: 1.0rem;

    }
}

@media(max-width: 800px){
    .navbar{
        font-size: 0.90rem;

    }
}

